USE [master]
GO
/****** Object:  Database [RegistroHorasOperadores]    Script Date: 24/03/2017 19:14:05 ******/
CREATE DATABASE [RegistroHorasOperadores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroHorasOperadores', FILENAME = N'D:\SQL\MSSQL13.SQLEXPRESS\MSSQL\DATA\RegistroHorasOperadores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistroHorasOperadores_log', FILENAME = N'D:\SQL\MSSQL13.SQLEXPRESS\MSSQL\DATA\RegistroHorasOperadores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistroHorasOperadores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistroHorasOperadores]
GO
USE [RegistroHorasOperadores]
GO
/****** Object:  Table [dbo].[Liquidador]    Script Date: 24/03/2017 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liquidador](
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[FechaNacimiento] [varchar](40) NOT NULL,
	[EstadoCivil] [varchar](20) NOT NULL,
	[Direccion] [varchar](80) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Contraseña] [varchar](25) NOT NULL,
	[Imagen] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Operadores]    Script Date: 24/03/2017 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operadores](
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[FechaNacimiento] [varchar](40) NOT NULL,
	[EstadoCivil] [varchar](20) NOT NULL,
	[Direccion] [varchar](80) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Contraseña] [varchar](25) NOT NULL,
	[Imagen] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegistroHorasHorarios]    Script Date: 24/03/2017 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroHorasHorarios](
	[Operador] [int] NOT NULL,
	[FechaEntrada] [varchar](50) NOT NULL,
	[HoraEntrada] [varchar](50) NOT NULL,
	[HoraSalida] [varchar](50) NOT NULL,
	[HorasTrabajadas] [varchar](50) NOT NULL,
	[Conteo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Operador] ASC,
	[FechaEntrada] ASC,
	[HoraEntrada] ASC,
	[HoraSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
