
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="utf-8"/>
    <title>MensajeSalida</title>
    <link href="~/Content/MensajeSalida.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body id="wacho">
    <div class="container text-center" id="entrasale"> 
    </div>
    <div class="container text-center">
        <div class="text-center"><a href="/Home/Index" class="btn btn-primary text-center">Ingresar</a><!-- Contenido de esta pagina: nombre del operador, hora entrada, hora salida, horas trabajadas, un mensaje que diga "Disfruta el dia", opcion ingresar--></div>
    </div>
    <script src="~/Scripts/MensajeSalida.js"></script>
    </body>
    </html>
