
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RegistrarLiquidador.css" rel="stylesheet" />
    <title>AgregarOperador</title>
</head>
<body>
    <div class="col-md-6 col-sm-10 col-md-offset-3">
        <div class="margen col-md-10 col-sm-10"><h1 class="text-center">Crear Operador</h1></div>
        <form action="/Home/NuevoOperador" method="post">
            <div class="margen col-md-10 col-sm-10">
                <label>Nombres</label>
                <input type="text" name="nombres" placeholder="Nombres" class="margen input" />
            </div>
            <div class="margen col-md-10 col-sm-10">
                <label>Apellidos</label>
                <input type="text" name="apellidos" placeholder="Apellidos" class="margen input" />
            </div>
            <div class="margen col-md-5 col-sm-5">
                <label>DNI</label>
                <input type="number" name="dni" placeholder="DNI" class="margen input" />
            </div>
            <div class="margen col-md-5 col-sm-5">
                <label>Fecha de Nacimiento</label>
                <input type="date" name="fechanacimiento" placeholder="Ej. 02/05/90" class="margen input" />
            </div>
            <div class="margen col-md-5 col-sm-5">
                <label>Estado Civil</label>
                <input type="text" name="estadocivil" placeholder="Estado Civil" class="margen input" />
            </div>
            <div class="margen col-md-5 col-sm-5">
                <label>Direccion</label>
                <input type="text" name="direccion" placeholder="Ej. H. Yrigoyen 300" class="margen input" />
            </div>
            <div class="margen col-md-10 col-sm-5">
                <label>Mail</label>
                <input type="email" name="mail" class="margen input" />
            </div>
            <div class="margen col-md-10 col-sm-10">
                <label>Nombre de Usuario</label>
                <input type="text" name="usuario" class="margen input" />
            </div>
            <div class="margen col-md-10 col-sm-10">
                <label>Contraseña</label>
                <input type="text" name="contraseña" class="margen input" />
            </div>
            <div class="margen col-md-5 col-sm-5">
                <label>Foto de Perfil</label>
                <input type="text" name="imagen" class="margen input" />
            </div>
            <div class="margen col-md-10 col-sm-10 col-md-offset-3">
                <input type="submit" value="Agregar Liquidador" class="btn btn-danger inputmitad" align="center" />
            </div>
        </form>
    </div>
</body>
</html>
