
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RegistrarLiquidador.css" rel="stylesheet" />
    <title>MensajeLiquidadorAgregado</title>
</head>
<body>
    <div class="col-md-6 col-sm-10 col-md-offset-3">
        <div class="margen col-md-8 col-sm-8 col-md-offset-1 text-center">
        <h2>El liquidador fue agregado satisfactoriamente!</h2>
        <a class="btn btn-primary text-center" href="/Home/Index">Ingresar</a>
        </div>        
    </div>
</body>
</html>
