
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-sm-10 col-md-offset-3" id="agregaroperador">
    <div class="margen col-md-8 col-sm-8 col-md-offset-1 text-center">
        <h2>El operador fue agregado satisfactoriamente!</h2>
        <h2>Ya esta disponible para su uso</h2>
    </div>
</div>